<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="6DwfuC5YAbzd7G_g63UCyDvtUinL9o16a38Yum6ivpI" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.chaospace.title }}{% else %}{{ site.chaospace.title }} &mdash; {{ site.chaospace.subtitle }}{% endif %}</title>
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" rel="stylesheet" type="text/css">
	{% if site.chaospace.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.chaospace.google_font }}" rel="stylesheet" type="text/css">{% endif %}
	<link rel="stylesheet" href="{{"/css/main.css"  | prepend: site.baseurl | replace:'//','/'}}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ site.chaospace.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.chaospace.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.chaospace.title }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.chaospace.gplus }}">{% endif %}
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.chaospace.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.chaospace.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt }}"/>
    <meta name="description" content="{{ page.excerpt }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.chaospace.title }}">
</head>
<body>
    
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.chaospace.logo }}" alt="chaospace">
            </a>
            <a href="/" class="home">Blog</a>
            {% if site.chaospace.product_link %}<a href="{{ site.chaospace.product_link }}">Product</a>{% endif %}
            {% if site.chaospace.about_link %}<a href="{{ site.chaospace.about_link }}" target="_blank">About</a>{% endif %}
        </nav>
        {% if site.chaospace.tagline or site.chaospace.projects_link %}
		<nav class="tagline">
			{% if site.chaospace.tagline %}<span>{{ site.chaospace.tagline }}</span>{% endif %}
			{% if site.chaospace.projects_link %}<a href="{{ site.chaospace.projects_link }}" target="_blank" class="btn btn-outline">Projects</a>{% endif %}
		</nav>
		{% endif %}
		<nav class="search-field">
			<form action = "/search" method="get">
				<input type="search" name="q" placeholder="Search" />
			</form>
		</nav>
		
    </header>
</section>
{{ content }}
<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.chaospace.url }}">{{ site.chaospace.company }}</a> &middot;
            <a href="/">Blog</a> &middot;
            {% if site.chaospace.product_link %}<a href="{{ site.chaospace.product_link }}">Product</a> &middot; {% endif %}
            {% if site.chaospace.about_link %}<a href="{{ site.chaospace.about_link }}">About</a>{% endif %}
        </nav>
        <!--
        <nav class="social">
            {% if site.chaospace.twitter %}
            <a href="https://twitter.com/{{ site.chaospace.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.chaospace.facebook %}
            <a href="http://facebook.com/{{ site.chaospace.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}    
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>-->
        <p>Incorporated theme by <a href="https://sendtoinc.com">Inc</a></p>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
